#header {
  display: flex;
  flex-direction: row;
  max-width: 80rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1rem 0;
  justify-content: space-around;

  .box {
    &-logo {
      display: flex;
    }

    &-phone {
      display: flex;
      margin-top: 2.5rem;
      justify-content: space-around;
      flex-grow: 0.3;
     
    }

    &-icons {
      display: flex;
      margin-top: 3rem;
      flex-grow: 0.5;
      justify-content: space-around;
    }
  }
  
  .btn-box {
    height: 60%;
    background-color: #ea6464;
  }   
}